.edit-cv-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fafaf9;
  padding: 0.5rem 1rem;
}

.error {
  color: #dc2626;
}

.edit-cv-title {
  margin: 0.5rem 0;
  text-align: center;
}

.edit-cv-form-container form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.edit-cv-form-submit-btn {
  background-color: #3b82f6;
  color: whitesmoke;
  margin-top: 0.5rem;
}

.edit-cv-form-submit-btn:hover {
  background-color: #2563eb;
}

.edit-cv-form-submit-btn:disabled {
  background-color: #93c5fd;
  color: #555;
}

.edit-cv-work-experience-container p,
.edit-cv-education-container p {
  margin: 0;
  font-weight: bold;
}

.work-experience-card,
.education-history-card {
  display: flex;
  flex-direction: column;
}

.edit-cv-work-experience-delete-btn {
  margin: 1rem 0;
  background-color: #dc2626;
  color: whitesmoke;
  width: fit-content;
}

.edit-cv-work-experience-delete-btn:hover {
  background-color: #b91c1c;
}

.add-work-experience-btn,
.edit-cv-add-education-experience-btn {
  margin: 0.5rem 0;
  background-color: #3b82f6;
  color: whitesmoke;
}

.add-work-experience-btn:hover,
.edit-cv-add-education-experience-btn:hover {
  background-color: #2563eb;
}

.divider {
  width: 100%;
  border: 0.4mm solid #777;
  border-radius: 8px;
  margin: 1rem 0;
}
