*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 1rem;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  width: 70ch;
  max-width: 100%;
}

#book-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(60ch, 100%));
  gap: 1rem;
  width: 100%;
}

.book-card {
  display: flex;
  flex-direction: column;
  background-color: #bae6fd;
  padding: 1rem;
  row-gap: 0.5rem;
  border-radius: 8px;
}

.book-card .title {
  font-size: 1.2rem;
}

.book-card .pages, .book-card .read {
  align-self: flex-end;
  font-weight: bold;
}

.book-card button.delete {
  align-self: flex-end;
  padding: 1rem;
  font-weight: bold;
  border-radius: 8px;
  color: white;
  background-color: #dc2626;
  border: none;
}

.book-card button.delete:hover {
  background-color: #b91c1c;
}

.book-card button.changeReadStatus {
  align-self: flex-end;
  padding: 1rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
}

.book-card button.changeReadStatus:hover {
  filter: brightness(0.9);
}

.show-dialog-btn, .close-dialog-btn, #new-book-btn {
  padding: 1rem;
  margin: 1rem 0;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  color: white;
}

.show-dialog-btn:hover, .close-dialog-btn:hover, #new-book-btn:hover {
   filter: brightness(0.9);
}

.show-dialog-btn {
  background-color: #57534e;
}

.close-dialog-btn {
  background-color: #dc2626;
}

#new-book-btn {
  background-color: #16a34a;
}