*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 1rem;
}

#book-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.book-card {
  display: flex;
  flex-direction: column;
  background-color: #bae6fd;
  padding: 1rem;
  border-radius: 8px;
}

.book-card .title {
  font-size: 1.2rem;
}

.book-card .pages, .book-card .read {
  align-self: flex-end;
  font-weight: bold;
}

.book-card button.delete {
  align-self: flex-end;
  padding: 1rem;
  font-weight: bold;
  border-radius: 8px;
  color: white;
  background-color: #dc2626;
  border: none;
}

.book-card button.delete:hover {
  background-color: #b91c1c;
}

.show-dialog-btn {
  padding: 1rem;
  margin: 1rem 0;
  font-weight: bold;
  border-radius: 8px;
  border: none;
}

.show-dialog-btn:hover {
   filter: brightness(0.9);
}