*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --submit-btn-bg-color: #16a34a;
  --todo-card-bg-color: #7dd3fc;
  --todo-card-text-color: #222;
  --todo-low-priority-color: #22c55e;
  --todo-medium-priority-color: #facc15;
  --todo-high-priority-color: #ef4444;
}

body {
  padding: 1rem;
}

button {
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  border: 1mm solid black;
  padding: 1rem;
}

dialog[open].form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  width: min(70ch, 100%);
  padding: 1rem;
  border-radius: 8px;
}

dialog[open] .dialog-close-btn {
  align-self: flex-end;
  border-radius: 25%;
  font-size: 1.1rem;
}

.create-todo-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;
}

.create-todo-form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.create-todo-form fieldset {
  width: 100%;
  padding: 1rem;
}

.create-todo-form fieldset div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0.5rem 0;
}

.create-todo-form input[type=text],
.create-todo-form textarea,
.create-todo-form input[type=date] {
  flex: 1;
  padding: 0.4rem;
}

.create-todo-form button[type=submit] {
  background-color: var(--submit-btn-bg-color);
  color: white;
  border: none;
  padding: 1rem;
}

.create-todo-form button[type=submit]:hover {
  filter: brightness(0.9);
}

.todo-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: 1rem 0;
}

.todo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  gap: 1rem;
  padding: 1rem;
  width: min(70ch, 100%);
  min-height: 250px;
  background-color: var(--todo-card-bg-color);
  color: var(--todo-card-text-color);
}

.todo-title, .todo-due-date, .todo-description, .todo-notes {
  overflow-wrap: break-word;
  width: 100%;
  max-width: 100%;
}

.todo-card .collapsed {
  display: none;
}

.todo-due-date {
  text-align: right;
}

.todo-notes {
  resize: vertical;
  padding: 1rem;
}

.todo-card.low-priority {
  border-bottom: 2mm solid var(--todo-low-priority-color);
}

.todo-card.medium-priority {
  border-bottom: 2mm solid var(--todo-medium-priority-color);
}

.todo-card.high-priority {
  border-bottom: 2mm solid var(--todo-high-priority-color);
}

.expand-button {
  padding: 1rem;
}